includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - database

    universalObjectCratesClasses:
        - Illuminate\Routing\Route

    ignoreErrors:
        # -
        #     message: '#Offset (.*?) does not exist on array\|null#'
        #     paths:
        #         - tests/*
        # -
        #    message: '#expects resource, resource\|false given#'
        #    paths:
        #        - tests/*
        # - '#should return \$this#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::layout\(\)#'

    checkMissingIterableValueType: false

    databaseMigrationsPath:
        - database/migrations
