@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'tippy.js/dist/tippy.css';

@font-face {
    font-family: Writer;
    src: url('/vendor/mito/font/Writer-Regular.ttf');
    font-weight: 400;
}

[x-cloak] {
    display: none !important;
}

.tippy-box {
    font-size: 12px;
}
